* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
   height: 100vh;
   flex-direction: column;
 
    background-image: url("http://source.unsplash.com/1600x900/?landscape");
}
.local {
    color: #ffffff;
    font-size: 24px;
}
.temp {
    color: #ffffff;
    margin-top: 20px;
    font-size: 45px;
}
.description {
    color: #ffffff;
    margin-left: 20px;
    text-transform: capitalize;
}

.moisture {
    color: #ffffff;
    margin-top: 20px;
}
.container {
   
    padding: 20px;
    background-color: black;
    width: 90%;
    opacity: 0.7;
    border-radius: 25px;
    max-width: 420px;
}
.text {
    margin-top: 20px;

}
.input-city {
    color: aqua;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 24px;
    font-size: 20px;
    background-color: #7c7c7c2b;
    width: calc(100%-100px);
}
.button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    float: right;
    cursor: pointer;
   
}
button:hover {
    background-color: #7c7c7c6b;
}
.magnifying-glass {
    height: 20px;
}

.caixinha {
display: flex;
margin-top:  30px;
align-items: center;
}
h3 strong {
color: rgb(7, 251, 11);
}

h3 {
    color: #fff
}
.foother {
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 12vh;
    width: 100%;
    position: absolute;
    opacity: 0.6;
}